<div class="auth-container">
  <div class="auth-card">
    <h2>IFBank</h2>
    <h3>Criar Conta</h3>
    <div *ngIf="mensagem" class="sucesso">{{ mensagem }}</div>
    <div *ngIf="erro" class="erro">{{ erro }}</div>
    <input type="text" placeholder="Nome completo" [(ngModel)]="nome" />
    <input type="email" placeholder="E-mail" [(ngModel)]="email" />
    <input type="text" placeholder="Telefone" [(ngModel)]="telefone" />
    <input type="text" placeholder="Endereço" [(ngModel)]="endereco" />
    <input type="password" placeholder="Senha" [(ngModel)]="senha" />
    <button (click)="cadastrar()">Cadastrar</button>
    <div class="links">
      <a routerLink="/login">Já tenho conta</a>
    </div>
  </div>
</div>
